# following config could help to avoid considering generated code coverage, and doesn't cost much :)
lombok.addLombokGeneratedAnnotation = true

# Following confi enable to have @Lazy annotations copied on the corresponding
# parameters of constructors built thanks Lombok, especially @RequiredArgsConstructor
#
# It's usefull in order to have Spring service's constructure automatically built
# thanks Lombok, whereas still taking advantage of patterns such as the self injection one :
# when a Spring service inject its own proxied (Lazy) instance into itself
lombok.copyableAnnotations += org.springframework.context.annotation.Lazy
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
